<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Book Store</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="css/templatemo_style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div id="templatemo_container">
    <div id="templatemo_menu">
        <ul>
            <li><a th:href="@{index}" class="current">Ana Səhifə</a></li>
            <li><a th:href="@{search}">Axtarış</a></li>
            <li><a th:href="@{books}">Kitablar</a></li>
            <li><a th:href="@{new_releases}">Yeni Buraxılışlar</a></li>
            <li><a th:href="@{company}">Şirkət</a></li>
            <li><a th:href="@{contact}">Əlaqə</a></li>
        </ul>
    </div>

    <div id="templatemo_header">
        <div id="templatemo_special_offers">
            <p>
                <span>25%</span> endirim
                ₼30 üstu alışlarda
            </p>
            <a th:href="@{details}" style="margin-left: 50px;">Ətraflı...</a>
        </div>


        <div id="templatemo_new_books">
            <ul>
                <li>Araşdırma</li>
                <li>Fəlsəfi</li>
                <li>Kriminal</li>
            </ul>
            <a th:href="@{details}" style="margin-left: 50px;">Ətraflı...</a>
        </div>
    </div> <!-- end of header -->

    <div id="templatemo_content">

        <div id="templatemo_content_left">
            <div class="templatemo_content_left_section">
                <h1>Kateqoriyalar</h1>
                <ul>
                    <li><a href="subpage.html">Bədii</a></li>
                    <li><a href="subpage.html">Hekayə</a></li>
                    <li><a href="#">Dini</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#">Eşq</a></li>
                    <li><a href="#">Roman</a></li>
                    <li><a href="#">Tarix</a></li>
                    <li><a href="#">Uşaq</a></li>
                    <li><a href="#">Şeir</a></li>
                    <li><a href="#">Macəra-Aksiyon</a></li>
                    <li><a href="#">Qorxu</a></li>
                    <li><a href="#">Əyləncə</a></li>
                </ul>
            </div>
            <div class="templatemo_content_left_section">
                <h1>Ən çox satılanlar</h1>
                <ul>
                    <li><a href="#">Vestibulum ullamcorper</a></li>
                    <li><a href="#">Maece nas metus</a></li>
                    <li><a href="#">In sed risus ac feli</a></li>
                    <li><a href="#">Praesent mattis varius</a></li>
                    <li><a href="#">Maece nas metus</a></li>
                    <li><a href="#">In sed risus ac feli</a></li>
                    <li><a href="#">Flash Templates</a></li>
                    <li><a href="#">CSS Templates</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="http://www.photovaco.com" target="_parent">Free Photos</a></li>
                </ul>
            </div>

            <div class="templatemo_content_left_section">
                <!--                <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>-->
                <!--<a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>-->
                <!--			-->
            </div>
        </div> <!-- end of content left -->

        <div id="templatemo_content_right">
            <div class="templatemo_product_box">
                <h1>Photography <span>(by Best Author)</span></h1>
                <img src="images/templatemo_image_01.jpg" alt="image"/>
                <div class="product_info">
                    <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
                    <h3>₼20</h3>
                    <div class="buy_now_button"><a href="subpage.html">İndi Al</a></div>
                    <div class="detail_button"><a href="subpage.html">Ətraflı</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>

            <div class="cleaner_with_width">&nbsp;</div>

            <div class="templatemo_product_box">
                <h1>Cooking <span>(by New Author)</span></h1>
                <img src="images/templatemo_image_02.jpg" alt="image"/>
                <div class="product_info">
                    <p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
                    <h3>₼12</h3>
                    <div class="buy_now_button"><a href="subpage.html">İndi Al</a></div>
                    <div class="detail_button"><a href="subpage.html">Ətraflı</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>

            <div class="cleaner_with_height">&nbsp;</div>

            <div class="templatemo_product_box">
                <h1>Gardening <span>(by Famous Author)</span></h1>
                <img src="images/templatemo_image_03.jpg" alt="image"/>
                <div class="product_info">
                    <p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
                    <h3>₼8</h3>
                    <div class="buy_now_button"><a href="subpage.html">İndi Al</a></div>
                    <div class="detail_button"><a href="subpage.html">Ətraflı</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>

            <div class="cleaner_with_width">&nbsp;</div>

            <div class="templatemo_product_box">
                <h1>Sushi Book <span>(by Japanese Name)</span></h1>
                <img src="images/templatemo_image_04.jpg" alt="image"/>
                <div class="product_info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    <h3>₼10</h3>
                    <div class="buy_now_button"><a href="subpage.html">İndi Al</a></div>
                    <div class="detail_button"><a href="subpage.html">Ətraflı</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>

            <div class="cleaner_with_height">&nbsp;</div>

            <!--            <a href="subpage.html"><img src="images/templatemo_ads.jpg" alt="ads" /></a>-->
        </div> <!-- end of content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->

    <div id="templatemo_footer">

        <a href="index">Ana Səhifə</a> | <a href="search">Axtarış</a> | <a
            href="books">Kitablar</a> | <a href="new-releases">Yeni Buraxılışlar</a> | <a href="questions">Ən çox
        verilən
        suallar</a> | <a href="contact">Bizimlə Əlaqə</a><br/>
        Copyright © 2023 <a href="https://www.linkedin.com/in/ibrahimqarayev/"><strong>İbrahim Qarayev</strong></a>

    </div>
</div> <!-- end of container -->

</body>

</html>